/* PAGE FOOTER (theme selector + project info) */

#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  min-width: var(--page-content-min-width);
  padding-bottom: max(32px, env(safe-area-inset-bottom, 0px));
  width: var(--page-content-width);

  .footer-info {
    padding-top: 1em;
    border-top: 1px solid var(--color-text-acc);
    color: var(--color-text-acc);
    font-size: 0.9em;

    a {
      margin-right: 1.5em;
      color: var(--color-text-acc);
    }

    a:hover {
      color: var(--color-text-pri);
    }
  }
}

#theme-selector {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(var(--theme-column-count), minmax(0, 1fr));
  margin-bottom: 2em;
}
